<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Welcome to our awesome site</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About Us</a></li>
        <li><a href="#">Why Us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Sign in</a></li>
      </ul>
     </div>
  </div>
</nav>
<figure><%=image_tag ("frontend/banner03.jpg")%></figure>

  <div class="jumbotron">
<div class ="container">
  <div class="About-us" id="aboutus">
    <div class="info-box1">
      <h2>About Us</h2>
      <p>Your aspirations define you and they know no bounds. At Aspira, an iconic residential project, you’ll find that your aspirations about your dream home have been fulfilled. Located at one of the most sought after residential areas, JP Nagar, Aspira offers world-class amenities. Yes, Aspira is for you, the one whose aspirations know no bounds! Meticulously planned at each step, Aspira lets you connect effortlessly, celebrate life and the great moments!</p>
    </div>
  </div>
</div>
 </div>

